*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #3D80F4;
}

ul{
    list-style: none;
}

.wrap-home-ware-house {
    background-color: #FFFFFF;    
    height: 100vh;  
    padding: 0px 25px;
    overflow: auto;
}

.icon-action-product svg {
    font-size: 18px;
}

.icon-action-product svg:hover {
    cursor: pointer;
    color: #3676D2;
    transition-duration: 0.2s;
}

.icon-action-product-item svg {
    font-size: 18px;
}

.icon-action-product-item svg:hover {
    cursor: pointer;
    color: #3676D2;
    transition-duration: 0.2s;
}



