*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body, span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

body {
    background-color: red;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* showcase */
.showcase img{
    width: 100%;
}

.showcase{
    background: url(../../../public/img/slide-bg-2.jpg) no-repeat center center/cover;
    height: 650px;
    width: 100%;
}

.showcase .mask-showcase{
    position: relative;
    width: 550px;
    text-align: left;
    top: 27%;
    left: 15%;
}

.showcase .desc{
    color: #ffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
}

.showcase .title{
    color: #ffff;
    font-size: 36px;
    font-weight: 700;
}

.showcase .content-showcase{
    color: #f1f1f1;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 10px;
}

.showcase .btn-showcase{
    padding: 12px 45px;
    background-color: #222222;
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 4px;
    margin-top: 25px;
    font-weight: 700;
}

.showcase .btn-showcase:hover{
    background-color: #C89979;
    border: 2px solid #C89979;
    cursor: pointer;
    transition-duration: 0.4s;
}

.showcase .btn-showcase:focus{
    border: 2px solid #C89979;
    outline: none;
}

/* Chủ đề sản phẩm */
.chu-de-san-pham{
    display: flex;
    max-width: 1250px;
    margin: auto;
    margin-top: 60px;
}

.content-left{
    background: url(../../../public/img/trend-1.jpg) no-repeat center center/cover;
    float: left;
    width: 50%;
    margin: 0 15px;
    height: 300px;
    overflow: hidden;
}

.content-right{
    background: url(../../../public/img/trend-2.jpg) no-repeat center center/cover;
    float: right;
    width: 50%;
    margin: 0 15px;
    height: 300px;
}

.desc-content{
    color: #ffffff;
    margin-top: 90px;
    margin-left: 30px;
}

.title-content h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.border-content{
    border-bottom: 2px solid #C89979;
    width: 9%;
    margin: 15px 0;
}

.chu-de-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

/* Danh sách sản phẩm */
#danh-sach-san-pham{
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
    padding-left: 1%;
    padding-bottom: 50px;
}

.tieu-de-danh-sach-sp .title-danh-sach-sp{
    margin-top: 60px;
    text-align: center;
    color: #C89979;
}

.tieu-de-danh-sach-sp .sap-xep-background{
    max-width: 1240px;
    margin: auto;
}

.tieu-de-danh-sach-sp .loc-san-pham{
    display: flex;
}

.tieu-de-danh-sach-sp select{
    width: 220px;
    padding: 10px 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    font-weight: 550;
}

.tieu-de-danh-sach-sp select:focus{
    box-shadow: 0 0 8px #ddd;
    outline: none;
}

.tieu-de-danh-sach-sp option{
    font-weight: 550;
}

.tieu-de-danh-sach-sp .sap-xep-san-pham{
    margin-top: 40px;
    width: 250px;
}

.tieu-de-danh-sach-sp .chon-san-pham-theo-gia{
    margin-top: 40px;
    margin-left: 30px;
    width: 250px;
}

#danh-sach-san-pham .san-pham{
    text-align: center;
    vertical-align: top;
    width: 22%;
    border: 0;
    /* box-shadow: 0 0 3px #b1aeae; */
    margin: 0 15px;
    padding: 30px 0;
    display: inline-block;
    margin-top: 30px;    
}

.thong-bao-khong-tim-thay{
    margin-left: 2%;
}

/* #danh-sach-san-pham .san-pham:hover{
    box-shadow: 1px 1px 10px 2px #888888;
    transition-duration: 0.6s;
} */

#danh-sach-san-pham .anh-san-pham img{
    width: 90%;
}

#danh-sach-san-pham .anh-san-pham{
    width: 100%;
    padding: 12px 10px;
    margin-top: -35px;
}

#danh-sach-san-pham .anh-san-pham:hover{
    cursor: pointer;
}

#danh-sach-san-pham .thong-tin-sp{
    text-align: center;
    margin-top: -5px;
}

.san-pham .ten-san-pham{
    color: #333;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    max-width: 80%;
    margin: auto;
    word-wrap: break-word;
}

.san-pham .ten-san-pham:hover{
    cursor: pointer;
}

.san-pham .hang-san-pham{    
    font-size: 14px;
    font-weight: 360;
    margin-top: 10px;
}

.san-pham .hang-san-pham:hover{    
    cursor: pointer;
}

.san-pham .gia-san-pham{
    color: rgb(99, 93, 93);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 12px 0;
}

.san-pham .gia-san-pham:hover{
    cursor: pointer;
}

.san-pham .gia-san-pham span{
    color: rgb(71, 71, 71);
    font-size: 12px;
    font-weight: 300;
    padding-top: -10px;
}

.san-pham .btn-san-pham{
    padding: 2px 35px;
    background-color: #C89979;
    box-shadow: inset 0 1.2em 0 0 rgb(255 255 255 / 10%);
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    border-radius: 2px;
    border: 0;
    margin-top: 3px;
}

.san-pham .btn-san-pham:hover{
    background-color: #997157;
    cursor: pointer;
    transition-duration: 1s;
}

.san-pham .btn-san-pham:focus{
    border: 0;
    outline: none;
}

#danh-sach-san-pham .san-pham:hover{    
    box-shadow: 0 0 3px #b1aeae;
    cursor: pointer;
}

.fa-chevron-up {
    font-size: 10px;
    right: 0;
    margin-right: 30px;
    bottom: 30px;
    color: rgb(71, 71, 71);
    position: fixed;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100%;
    padding: 13px 14px;
}
.fa-chevron-up:hover{
    color: rgb(255, 255, 255);
    background-color: #C89979;
    transition-duration: 0.3s;
    border: 2px solid #C89979;
}

.test{
    background-color: white;
}

.pageNumber {            
    margin-bottom: 60px;
    display: inline-flex;    
    max-width: 100%;
    margin-left: 43%;
}

/* .fa-chevron-left, .page-number, .fa-chevron-right {
    display: inline-block;
} */

.pageNumber button {    
    width: 3%;
    height: 30px;
    margin: 0 5px;
    background-color: #C89979;
    border: 0;
    width: 40px;
    color: #ffffff;
    border-radius: 2px;
}

.pageNumber .btn-page-number{    
    border: 0;  
    outline: none;
    background-color: #997157;
}

.pageNumber button:hover {  
    cursor: pointer;       
    background-color: #997157;
}

.fa-chevron-left, .fa-chevron-right {    
    font-size: 20px;
    color: rgb(107, 105, 105);    
}

.fa-chevron-left {
    margin-right: 10px;
    margin-top: 4px;
}

.fa-chevron-left:hover {
    cursor: pointer;
}

.fa-chevron-right {
    margin-left: 10px;
    margin-top: 4px;
}

.fa-chevron-right:hover {
    cursor: pointer;
}

.page-limit {
    color: rgb(165, 164, 164);
}

.page-limit-top {
    color: rgb(165, 164, 164);
}

.tim-kiem-sp-theo-ten {
    width: 26%;
    display: inline-flex;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
}

.tim-kiem-sp-theo-ten input {
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;    
}

.tim-kiem-sp-theo-ten input:focus {
    padding: 10px 10px;    
    outline: none;
    border: 1px solid #C89979;    
}

.tim-kiem-sp-theo-ten .fa-search {
    margin-left: -100px;    
    margin-top: 10px;
    margin-right: 10px;
    color: #333;
}