*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;    
}

.product-details-background {
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 50px;
}

ul{
    list-style: none;
}

.product-details-container {
    background-color: #ffffff;
    display: flex;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    padding: 20px 15px;
    height: 600px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-details-img {
    width: 35%;
}

.product-details-information {
    width: 65%;
    margin-left: 5%;
}

.product-details-price-brand {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 15px;
    padding: 20px 10px;
    border-radius: 5px;
}

.product-details-name {
    margin-top: 5px;
}

.border-space {
    border-right: 1.5px solid #333;
    margin: 0 10px;
}

.product-details-color, .product-details-size, .product-details-quantity {
    margin-top: 20px;
}

.color-title, .size-title, .quantity-title {
    margin-bottom: 10px;
}

.add-to-cart-btn {
    margin-top: 30px;
}

.product-details-quantity .fas {
    padding: 10px 12px;
    border: 0;    
}

.product-details-quantity button {
    border: 1px solid #E6E6E6;
    background-color: #ffffff;
}

.product-details-quantity .btn-fa-minus {
    border-right: none;
}

.product-details-quantity .btn-fa-plus {
    border-left: none;
}

.product-details-quantity .fa-minus:hover {
    cursor: pointer;    
}

.product-details-quantity .fa-plus:hover {
    cursor: pointer;
}

.product-details-quantity .product-details-quantity-btn {
    padding: 9px 15px;
}

.product-details-quantity .product-details-quantity-btn button {
    border: 0;
}

.carousel .control-prev.control-arrow, .control-next.control-arrow {
    background-color: rgb(172, 172, 172);
    padding: 5px 0;
}


