@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.wrap-menu {
    background-color: #ffffff;    
    padding: 25px 0;
    width: 100%;    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 15px;
}

.limiter-menu, .main-menu, .wrap-icon-header {
    display: flex;
    align-items: center;    
}

.container {
    width: 70%;
    margin: auto;
}

.menu-navbar {
    margin-left: 3%;
}

.item-menu-level-1 {
    padding: 0 15px;
}

.item-menu-level-1 a:hover {
    color: #6C7AE0;
    transition-duration: 0.3s;
}

.item-menu-level-1 a {
    font-family: Poppins;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.wrap-icon-header {
    margin-left: 3%;
}

.input-search {
    position: relative;
    min-width: 85%;    
}

.input-search input {
    padding: 10px 20px 10px 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}

.input-search input:focus {    
    border: 1px solid #E6E6E6;
    outline: none;
}

.input-search svg {
    position: absolute;
    margin-top: 8px;
    font-size: 22px;  
    vertical-align: center;
    margin-left: 10px;
}

.input-search a {
    color: #333333;
}

.input-search a:hover {
    color: #6C7AE0;
    transition-duration: 0.2s;
}

.cart-icon {
    padding: 0 24px;
}

.cart-icon, .user-icon svg {
    font-size: 28px;
}

.cart-icon a {
    color: #333333;
}

.cart-icon a:hover {
    color: #6C7AE0;
    transition-duration: 0.3s;
}

.user-icon a {
    color: #333333;
}

.user-icon .user-icon-item a:hover {
    color: #6C7AE0;
    transition-duration: 0.2s;
}

.main-menu-user {
    position: absolute; 
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: -40px;
    z-index: 1100;
}

.item-menu-user {
    color: #333333;
    font-size: 14px;
    font-weight: 500;    
    font-family: Poppins;
}

.item-menu-user {
    display: none;
    padding: 8px 10px;    
    margin: 8px 10px;
    text-align: center;
    border-radius: 5px;
}

.item-menu-user-full-name {
    display: none;
    padding: 8px 20px;
    margin: 10px 10px;
    text-align: center;
    border-radius: 5px;    
}

.user-img-full-name, .user-log-out {
    display: flex;
    align-items: center;    
    justify-content: center;
}

.user-order-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-bottom-menu-user {
    border-bottom: 1px solid #E6E6E6;
}

.item-menu-user:hover {
    cursor: pointer;
    color: #ffffff;
}

.item-menu-user:hover svg {
    cursor: pointer;
    color: #ffffff;
}

.item-menu-user:hover {            
    background-color: #6C7AE0;
    cursor: pointer;    
}

.user-icon:hover .item-menu-user {    
    transition-duration: 0.5s;
    display: block;    
}

.user-icon:hover .item-menu-user-full-name {    
    transition-duration: 0.5s;
    display: block;    
}

.user-name-login {
    margin-left: 5px;
}



