*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;    
}

ul{
    list-style: none;
}

/* Danh sách sản phẩm */
.cart-container {    
    min-height: 550px;
    background-color: #F5F5F5;
}

.danh-sach-mua {
    padding-top: 20px;
}

.danh-sach-mua .container{
    background-color: #ffffff;        
    border-radius: 5px;
    width: 70%;
    margin: auto;    
}

.danh-sach-mua .title{
    font-size: 20px;
    color: #C89979;
    font-weight: 600;
}

.danh-sach-mua .item-danh-sach-mua{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    font-size: 15px;
    font-weight: 600;
    color: #555555;
}

.danh-sach-mua .content{
    padding: 20px 20px 5px 20px;
}

.danh-sach-mua .item-danh-sach{
    padding: 20px 0px;
    width: 20%;
}

.danh-sach-mua .san-pham-mua{        
    margin: 40px 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.danh-sach-mua .anh-sp-mua img{
    width: 70%;
}

.danh-sach-mua #carts .san-pham-mua {
    flex-direction: row;
    align-items: center;    
}

.danh-sach-mua #carts .san-pham-mua .item-sp img{
    width: 80px;
    border-radius: 3px;
    margin-left: 10%;
}
.danh-sach-mua .san-pham-mua input{
    width: 100px;
    padding: 4px 0;
    text-align: center;
    border: 1px solid #333;
    width: 50px;
}

.product-color-size-info {
    margin-top: 5px;
}

.so-luong{
    display: flex;
}

.thao-tac {
    margin-left: 10%;
}

.thao-tac svg:hover {
    cursor: pointer;   
}

.so-luong button {
    padding: 8px 14px;
    border: 1px solid #E6E6E6;
    background-color: #ffffff;
}

.so-luong .btn-fa-minus {
    border-right: none;
}

.so-luong .btn-fa-minus:hover {
    cursor: pointer;
    background-color: #717EE0;
    color: #ffffff;
    transition-duration: 0.5s;
}

.so-luong .btn-fa-plus {
    border-left: none;
}

.so-luong .btn-fa-plus:hover {
    cursor: pointer;
    background-color: #717EE0;
    color: #ffffff;
    transition-duration: 0.5s;
}

.thanh-toan {    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #ffffff;        
    border-radius: 2px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 100px;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title-thanh-toan {    
    font-size: 18px;
    font-weight: 500;    
    color: #55566F;    
    font-family: sans-serif;
}

.item-thanh-toan {
    float: left;
    margin-left: 90px;
    margin-top: 38px;
}

.btn-order {
    float: right;
    margin-top: 28px;
    margin-right: 90px;    
}

.btn-order button {    
    padding: 10px 50px;
    background-color: #222222;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
}

.btn-order button:hover {    
    cursor: pointer;
    background-color: #717EE0;
}

.danh-sach-mua input{
    border-radius: 2px;
}

.danh-sach-mua input:focus{
    border: 1px solid #C89979;
    outline: none;
}

.danh-sach-mua .tong-tien-thanh-toan{
    margin-left: 120px;
    color: #C89979;
    font-size: 18px;
    font-weight: 700;
}

.danh-sach-mua .title-tong-tien{
    color: #C89979;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

/* empty cart */
.cart-is-empty {
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 70px;
    min-height: 540px;
    color: rgb(85, 86, 85);
}
.image-empty-cart img {
    width: 15%;
}

.title-empty-cart {
    font-size: 28px;
    margin-top: 25px;
}

.desc-empty-cart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-keep-buying button {
    padding: 10px 0;    
    border: 0;
    background-color: #717EE0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 15%;
}

.btn-keep-buying button:hover {
    cursor: pointer;
    background-color: #838fec;    
}

.border-bottom-cart-product {
    border-bottom: 1px solid #DDDDDD;
}