/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic); */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;   
}

ul{
    list-style: none;
}

.delivery-showcase {
    background-color: #F5F5F5;
    min-height: 550px;
}

.Delivery-container {  
    padding-top: 30px;
    display: grid;    
    width: 70%;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.form-input-user-info {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 5px;
    height: 400px;
}

.order-info-check-out {
    background-color: #ffffff;
}

.order-info-user {    
    border-radius: 5px;        
}

.order-info-check-out {
    padding: 20px 20px;
}

.form-input-order-info {
    margin-top: 20px;
}

.price-delivery, .delivery-cost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}

.product-color-size-delivery {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
}

.price-product-delivery, .delivery-cost-product {
    text-align: right;
}

.total-price-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.total-price-product-delivery {
    text-align: right;
    color: #717FE1;
    font-weight: 600;
}

.btn-check-out-order {
    margin-top: 15px;
}

.btn-check-out-order button {
    width: 100%;
    padding: 12px 0;
    background-color: #717FE1;
    font-weight: 600;
    font-size: 14px;
}

.btn-check-out-order button:hover {    
    background-color: #8591ec;
}

/* container-right */
.product-list-delivery-info {
    margin: 20px 0;
}

.product-name-delivery {
    color: #4c4d4c;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
}

.title-price-product-delivery, .price-product-delivery, .title-delivery-cost, .delivery-cost-product {
    font-weight: 400;
    color: #555655;
    font-size: 15px;    
}

.border-bottom-delivery {
    border-bottom: 2px solid #E5E8EB;
    margin-top: 30px;
}


