*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* Form đăng kí */
.container-form-dang-ki {
    background-color: #ddd;
    padding-bottom: 20px;
}

.form-dang-ki{
    max-width: 30%;
    margin: auto;
    height: 560px;
    padding-top: 30px;
    /* bottom: 40px; */
}

.form-dang-ki .showcase-1{
    background-color: white;    
    border-radius: 5px;
    padding: 30px 20px 0px 20px;    
}

.form-dang-ki .title-form-dang-ki{
    font-size: 20px;
    color: #C89979;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-dang-ki label, input{
    display: block;
}

.form-dang-ki .btn{
    margin-bottom: 20px;
    margin-top: 5px;
}

.form-dang-ki input{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-dang-ki label{
    font-size: 14px;
    font-weight: 450;
}

.form-dang-ki input:focus{
    border: 1px solid #C89979;
    outline: none;
}

.form-dang-ki button{
    padding: 10px 0;
    width: 100%;
    color: white;
    background-color: #C89979;
    border: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    font-weight: 550;
}

.form-dang-ki button:hover{
    background-color: #997157;
    transition-duration: 0.3s;
    cursor: pointer;
}

.form-dang-ki button:focus{
    border: 0;
    outline: none;
}