*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;    
}

ul{
    list-style: none;
}

.order-container {
    background-color: #F5F5F5;
    min-height: 540px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.title-history {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15%;
    font-size: 22px;
    color: #555555;
    font-family: sans-serif;
}

.item-list-product {    
    max-width: 70%;
    display: block;
    background-color: #ffffff;        
    margin: auto;    
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Thông tin người dùng, ngày order */
.input-information {
    text-align: right;
    height: 80px;
    border-bottom: 1.5px solid #E5E8EB;
    padding: 20px 20px;
    font-size: 14px;
}

.order-time {
    display: inline-flex;  
    font-size: 15px;  
}

.border-left-status-order {
    border-right: 1.4px solid #333;
    margin: 0 5px;
}

.order-time-info {
    font-family: sans-serif;
    font-weight: 200;
    color: #454F65;
    font-size: 14px;
}

.order-status-info {
    font-size: 14px;
    font-family: sans-serif;
    font-size: 15px;  
    color: #369A16;
    font-weight: 600;
}

.basic-information {
    margin-top: 5px;    
    font-family: sans-serif;
    color: #454F65;
}

/* Thông tin sản phẩm */
.product-information-order-user {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px dashed #DDDDDD;
    align-items: center;
}

.item-product-left {
    width: 100%;
}

.image-product img {
    width: 60%;
    padding: 30px 0px;
}

.image-product {
    margin-left: 30px;
}

.name-product {
    width: 50%;
    color: #555655;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 16px;
    
}

.color-size-product-info-order-history {
    font-family: sans-serif;
    margin: 8px 0;
    font-weight: 500;
    font-size: 14px;
    color: #555655;
}

.quantity {
    font-family: sans-serif;    
    font-weight: 550;
    font-size: 14px;
    color: #555655;
}

.price-product {
    font-family: sans-serif;
    color: #555655;
    font-size: 20px;
    font-weight: 500;
}

.total-money {
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    padding: 25px 0px;
}

.estimated-cost {
    margin-left: 20px;
}

.title-estimated-cost {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 350;
    margin-right: 10px;  
    color: #555655;  
}

.value-estimated-cost {
    font-family: sans-serif;
    color: #555655;
    font-weight: 500;
}

.into-money {
    text-align: right;     
}

.value-into-money {
    font-family: sans-serif;
    margin-right: 20px;
    color: #7180E1;
    font-size: 22px;
    font-weight: 600;
}

.title-into-money {
    font-family: sans-serif;
    margin-right: 10px;
    font-weight: 350;
    color: #555655;
}

/* empty orders */
.orders-is-empty { 
    background-color: #F5F5F5;   
    text-align: center;
    padding-top: 70px;
    min-height: 540px;
    color: rgb(85, 86, 85);
}
.image-empty-orders img {
    width: 15%;
}

.title-empty-orders {
    font-size: 28px;
    margin-top: 25px;
}

.desc-empty-orders {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-keep-buying-orders button {
    padding: 10px 0;    
    border: 0;
    background-color: #717EE0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 15%;
}

.btn-keep-buying-orders button:hover {
    cursor: pointer;
    background-color: #838fec;    
}

.page-number-order {
    margin-top: 50px;
    margin-bottom: 30px;
}