*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

.order-container {
    background-color: #ddd;
    min-height: 450px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.title-history {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15%;
    font-size: 20px;
    color: #c58a5f;
}

.item-list-product {    
    max-width: 70%;
    display: block;
    background-color: #ffffff;        
    margin: auto;    
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Thông tin người dùng, ngày order */
.input-information {
    text-align: right;
    height: 80px;
    border-bottom: 1px solid #ddd;
    padding-top: 22px;
    padding-right: 20px;
    font-size: 14px;
}

.order-time {
    font-weight: 350;
}

.basic-information {
    margin-top: 5px;
    font-weight: 350;
}

/* Thông tin sản phẩm */
.product-information {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.item-product-left {
    width: 100%;
}

.image-product img {
    width: 60%;
    padding: 30px 0px;
}

.image-product {
    margin-left: 30px;
}

.name-product {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
}

.quantily {
    margin-top: 10px;
    font-weight: 500;
}

.price-product {
    color: #C89979;
    font-size: 18px;
    font-weight: 440;
}

.total-money {
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    padding: 30px 0px;
}

.estimated-cost {
    margin-left: 20px;
}

.title-estimated-cost {
    font-size: 14px;
    font-weight: 350;
    margin-right: 10px;    
}

.value-estimated-cost {
    color: #C89979;
    font-weight: 500;
}

.into-money {
    text-align: right;
}

.value-into-money {    
    margin-right: 20px;
    color: #C89979;
    font-size: 22px;
    font-weight: 600;
}

.title-into-money {
    margin-right: 10px;
    font-weight: 350;
}

/* empty orders */
.orders-is-empty {    
    text-align: center;
    margin-top: 70px;
    min-height: 380px;
    color: rgb(85, 86, 85);
}
.image-empty-orders img {
    width: 15%;
}

.title-empty-orders {
    font-size: 28px;
}

.desc-empty-orders {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-keep-buying-orders button {
    padding: 11px 30px;
    border-radius: 5px;
    border: 0;
    background-color: #C89979;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.btn-keep-buying-orders button:hover {
    cursor: pointer;
    background-color: #997157;    
}

.page-number-order {
    margin-top: 50px;
    margin-bottom: 30px;
}