footer{
    text-align: center;
    color: #ffffff;
    width: 100%;
    background-color: #333333;
    padding: 12px 0;
    font-size: 15px;
}

footer .img{
    margin-bottom: -3px;
}

footer a{
    font-weight: 650;
}
